/// color|1|Background Color|4
$-color-white: #fff !default;
/// color|1|Functional Color|1
$-color-success: #67c23a !default;
/// color|1|Functional Color|1
$-color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$-color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$-color-info: #909399 !default;

/* $-color-primary: #3FB79F !default; */
$-color-primary: #09aa8a !default;

// Background
/// color|1|Background Color|4
$-background-color-base: #efefef !default;
$-background-color-info: #ecefef !default;

/// fontSize|1|Font Size|0
$-font-size-extra-large: 20px !default;
/// fontSize|1|Font Size|0
$-font-size-large: 18px !default;
/// fontSize|1|Font Size|0
$-font-size-medium: 16px !default;
/// fontSize|1|Font Size|0
$-font-size-base: 14px !default;
/// fontSize|1|Font Size|0
$-font-size-small: 13px !default;
/// fontSize|1|Font Size|0
$-font-size-extra-small: 12px !default;
