/// color|1|Background Color|4
$-color-white: #fff !default;
/// color|1|Functional Color|1
$-color-success: #67c23a !default;
/// color|1|Functional Color|1
$-color-warning: #e6a23c !default;
/// color|1|Functional Color|1
$-color-danger: #f56c6c !default;
/// color|1|Functional Color|1
$-color-info: #909399 !default;

/* $-color-primary: #3FB79F !default; */
$-color-primary: #09aa8a !default;

// Background
/// color|1|Background Color|4
$-background-color-base: #efefef !default;
$-background-color-info: #ecefef !default;


// 字体大小
$-base-font-size: 32px;


$-colors: (
        'primary': $-color-primary,
        'success': $-color-success,
        'warning': $-color-warning,
        'danger': $-color-danger,
        'info': $-color-info
);

$-font-sizes: (
        xs: 0.75, // 12px
        sm: 0.875, // 14px
        md: 1, // 16px
        lg: 1.125, // 18px
        xl: 1.25, // 20px
        xxl: 1.375, // 22px
        xxxl: 1.5, // 24px
);

// todo mt-0 => margin-top: 0
// todo mt-1 => margin-top: 4px
// todo mt-2 => margin-top: 8px

$-spacing-types: (
        m: margin,
        p: padding,
);

$-spacing-directions: (
        t: top,
        r: right,
        b: bottom,
        l: left,
);

$-spacing-base-size: 32px;

$-spacing-sizes: (
        0: 0,
        1: 0.25, // 4
        2: 0.5, // 8
        3: 0.75, // 12
        4: 1, // 16
        5: 1.5, // 24
        6: 2, // 32
)
